.card {
  text-align: right;
  transition: all 0.3s;
  &:hover {
    box-shadow: 0px 0px 6px 1px #a1a1a1;
    transform: translateY(-4px);
  }
}

.card-image {
  margin: 10px auto;
  width: 170px;
  height: 200px;
}

.show-price {
  direction: rtl;
}

.price {
  display: flex;
  direction: ltr;
  font-size: 0.85rem;
  margin-top: 20px;
}

.toman {
  margin-right: 5px;
}

.product-title {
  font-size: 0.93rem;
}

.price-text {
  font-size: 0.85rem;
}

.product-link {
  color: inherit;
  &:focus,
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}
