.shop-cart {
  direction: rtl;
  width: 100%;
  display: flex;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 0;
  @media (max-width: 750px) {
    padding: 10px;
  }
  .shop-cart-image {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      object-fit: contain;
      width: 100%;
      height: 200px;
      padding-left: 10px;
    }
    @media (max-width: 750px) {
      width: 40%;
    }
  }
  .shop-cart-info {
    width: 80%;
    h5 {
      padding-bottom: 10px;
      line-height: 1.7;
    }
    h6 {
      padding-bottom: 10px;
    }
    @media (max-width: 750px) {
      width: 60%;
      h5 {
        font-size: 1.1rem;
      }
      h6 {
        font-size: 1rem;
      }
    }
    .increase {
      vertical-align: middle;
      width: 30px;
      height: 30px;
      border: none;
      background-color: rgb(19, 201, 192);
      border-radius: 5px;
      padding: 0;
      margin: 0;
      &:focus {
        outline: none;
      }
    }
    .decrease {
      vertical-align: middle;
      width: 30px;
      height: 30px;
      border: none;
      background-color: lightsalmon;
      border-radius: 5px;
      &:focus {
        outline: none;
      }
    }
    .count {
      padding: 0 10px;
    }
    .total-cart-price {
      padding: 10px 0 0;
    }
  }
}
