.small-card {
    text-align: right;
    transition: all 0.3s;
    width: 240px;
    height: 370px;
    margin: 10px 5px;
    &:hover {
      box-shadow: 0px 0px 6px 1px #a1a1a1;
      transform: translateY(-4px);
    }
    @media (max-width: 750px) {
      margin: 8px 5px;
    }
  }
  
  .small-card-image {
    padding: 10px;
    height: 230px;
    object-fit: cover;
  }
  
  .small-show-price {
    direction: rtl;
  }
  
  .price {
    display: flex;
    direction: ltr;
    font-size: 0.85rem;
    margin-top: 20px;
  }
  
  .toman {
    margin-right: 5px;
  }
  
  .small-product-title {
    font-size: 0.85rem;
    line-height: 1.7;
  }
  
  .price-text {
    font-size: 0.85rem;
  }
  
  .product-link {
    color: inherit;
    &:focus,
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
  