@font-face {
  font-family: "sahel";
  src: url("./assets/fonts/Sahel.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sahel";
  src: url("./assets/fonts/Sahel-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

*,
*::before,
*::after {
  font-family: "sahel", sans-serif;
}
